.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  line-height: 1.17;
  list-style: circle;
  list-style-position: outside; /*маркеры рисуются за пределами содержимого li*/
}

.header__links-list-item_no-bullit {
  list-style: none;
}

/*Применяем одинаковое свойство ко всем ссылкам*/
.header__link,
.address a,
.lots__look-more-link,
.footer__menu-link {
  text-underline-offset: 4px;
}

.header__link_active,
.footer__menu-link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  display: block;
}

.address {
  max-width: 240px;
  font-style: normal; /* убирает курсив, который браузер по умолчанию даёт тегу <address> */
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin-top: 20px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.175;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 1;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 35px 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%; /* превращает квадрат в круг */
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 148px;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.175;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p:not(:last-child) {
  /* добавляет отступ снизу всем абзацам, КРОМЕ последнего */
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 1px 50px 82px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  font-size: 18px;
  line-height: 1.17;
  list-style: none;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  display: block;
}